.bgDashboard{
    background-image: url("https://img.freepik.com/free-photo/full-shot-travel-concept-with-landmarks_23-2149153258.jpg?ga=GA1.1.1070693569.1706463458&semt=sph");
  
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
  
  }
  
  

