.bgDashboard{
    background-image: url("https://img.freepik.com/free-vector/background-with-gradient-starry-night_23-2148276919.jpg?t=st=1721163814~exp=1721167414~hmac=5f2ca061d8cef4533eb432bfeace88360720f0aa6a683b6dc89c68957cb1dbbe&w=1060");
  
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
  
  }
  
  

